<tr>
  <td style="width: 25%"><%= account.name %></td>
  <td style="width: 15%"><%= account.slug %></td>
  <td style="width: 15%"><%= t(".#{account.status}") %></td>
  <td style="width: 15%"><%= t(".#{account.role}") %></td>
  <td class="action-article" style="width: 10%;">
    <%= link_to edit_admin_account_path(account, page: params["page"]) do %>
      <%= content_tag :i, "", class: "far fa-edit text-info" %>
    <% end %>
    <%= link_to admin_account_path(account), method: :delete, data: { confirm: "You sure?" } do %>
      <%= content_tag :i, "" , class: "far fa-trash-alt text-danger" %>
    <% end %>
  </td>
</tr>
