<div class="card card-secondary form-article">
  <div class="card-header">
    <h3 class="card-title"> <%= yield(:form_type) %> </h3>
  </div>
  <div class="card-body">
    <%= simple_form_for :account , url: batch_update_status_admin_accounts_path(slug: @account.slug), html: {class: "form-horizontal"}  do |f| %>
      <input type="hidden" name="page" value="<%= params[:page].presence || 1 %>">
      <div class="form-body">
        <div class="form-group">
          <%= f.label :role, class: "col-md-4 control-label" %>
          <div class="col-md-12">
             <%= f.input :role, as: :select,
                  collection: Account.role_collection,
                  input_html: { class: "form-control input-circle", id: "account_role" },
                  label: false, include_blank: false %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :status, class: "col-md-4 control-label" %>
          <div class="col-md-12">
             <%= f.input :status, as: :select,
                  collection: Account.status_collection,
                  input_html: { class: "form-control input-circle", id: "account_status" },
                  label: false, include_blank: false %>
          </div>
        </div>
        <div class="form-actions">
          <div class="col-md-12">
            <%= f.submit yield(:button_text)  , class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
