<%= content_for :breadcum_first, "Trang chủ" %>
<%= content_for :breadcum_first_link, admin_root_path %>
<%= content_for :breadcum_second, "Quản lý tài khoản" %>

<%= render "layouts/breadcrumb_admin"%>
<div class="col-12 pt-3">
  <%= page_entries_info @accounts, entry_name: 'tài khoản' %>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><i class="fas fa-list"></i>&ensp;Toàn bộ bài viết</h3>
      <div class="card-tools">
        <%= search_form_for @q, url: admin_accounts_path do |f| %>
          <div class="input-group input-group-sm">
            <%= f.search_field :name_cont, class: "form-control float-right", placeholder: "VD: Hảo Trương" %>
            <div class="input-group-append">
              <%= f.submit "Tìm kiếm", class: "button btn btn-default" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr>
            <th scope="col">Họ tên</th>
            <th scope="col">Sinh nhật</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Đường dẫn</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Quyền</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <%= render @accounts %>
        </tbody>
      </table>
    </div>
  </div>
  <%= paginate @accounts, outer_window: 3 %>
</div>
