<div class="haotruong-form-login">
  <div class="img-form-login">
    <img src="<%= asset_path("logo.png") %>" alt="logo">
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="group-input">
      <div class="form-group">
        <label>Email</label>
        <%= f.text_field :email, autofocus: true, class: "email", id: "email-login" %>
      </div>
      <div class="form-group">
        <label>Mật khẩu</label>
        <%= f.password_field :password, class: "password" %>
      </div>
    </div>
    <%= f.submit t(".submit"), id: "login" %>
  <% end %>
</div>
<% content_for :body_class, "hold-transition login-page" %>
