<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image" id="submit-data-export-rdb">
        <img src="<%= asset_path("avatar5.png")%>" class="img-circle elevation-2">
      </div>
      <div class="info">
        <a href="<%= admin_root_path %>" class="d-block"><%= current_admin_admin.email %></a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          </a>
          <%= link_to admin_root_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-th"></i>
            <p>
              Dashboards
              <!-- <span class="right badge badge-danger">New</span> -->
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "", class: "nav-link" do %>
            <i class="fas fa-shopping-cart"></i>
            <p>
              Đơn Hàng
              <i class="fas fa-angle-left right"></i>
             <span class="badge badge-danger right">10<%#= Category.all.size %></span>
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to admin_collections_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-list-alt"></i>
            <p>
              Danh mục sản phẩm
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"><%= Collection.all.size %></span>
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to admin_products_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-clock"></i>
            <p>
              Sản Phẩm
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"><%= Product.all.size %></span>
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to admin_articles_path, class: "nav-link" do %>
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Bài viết
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right"><%= Article.all.size %></span>
            </p>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "", class: "nav-link" do %>
            <i class="nav-icon fas fa-users"></i>
            <p>
              Khách Hàng
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-success right">10<%#= Account.all.size %></span>
            </p>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
