<div class="mb-5">
  <div class="bg-img-hero" style="background-image: url(<%= asset_path('banner-colection.jpg')%>)">
    <div class="container min-height-420 overflow-hidden">
      <div class="js-slick-carousel u-slick"
        data-pagi-classes="text-center position-absolute right-0 bottom-0 left-0 u-slick__pagination u-slick__pagination--long justify-content-start mb-3 mb-md-4 offset-xl-3 pl-2 pb-1">
        <% @product_slider.each do |product| %>
          <div class="js-slide bg-img-hero-center" data-animation-delay="0">
            <div class="row min-height-420 py-7 py-md-0">
              <div class="offset-xl-3 col-xl-4 col-6 mt-md-8">
                <h1 class="font-size-64 text-lh-57 font-weight-light"
                  data-scs-animation-in="fadeInUp">
                  SẢN PHẨM<span class="d-block font-size-55">NỔI BẬT</span>
                </h1>
                <h6 class="font-size-15 font-weight-bold mb-3"
                  data-scs-animation-in="fadeInUp"
                  data-scs-animation-delay="200">
                  <%= product.name %>
                </h6>
                <div class="mb-4"
                  data-scs-animation-in="fadeInUp"
                  data-scs-animation-delay="300">
                   <span class="font-size-13">Giá chỉ</span>
                  <% if product.promotional_price.present? %>
                    <div class="font-size-30 font-weight-bold text-red">
                      <%= number_with_delimiter(product.promotional_price ) %><sup>Vnđ</sup>
                    </div>
                    <div class="font-size-20 font-weight-bold">
                      <del><%= number_with_delimiter(product.price ) %><sup>Vnđ</sup></del>
                    </div>
                  <% else %>
                    <div class="font-size-30 font-weight-bold text-red">
                      <%= number_with_delimiter(product.price ) %> <sup>Vnđ</sup>
                    </div>
                  <% end %>
                </div>
                <a href="<%= product_path(product) %>" class="btn btn-primary transition-3d-hover rounded-lg font-weight-normal py-2 px-md-7 px-3 font-size-16"
                  data-scs-animation-in="fadeInUp"
                  data-scs-animation-delay="400">
                  Mua ngay
                </a>
              </div>
              <div class="col-xl-5 col-6  d-flex align-items-center"
                data-scs-animation-in="zoomIn"
                data-scs-animation-delay="500">
                <%= image_tag(product.image, class: "img-fluid w-275") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
