<%= provide :title, "Thế giới đồng hồ" %>
<main id="content" role="main">
  <!-- Slider Section -->
  <%= render "homes/slider" %>
  <!-- End Slider Section -->
  <div class="container">
    <!-- Bài viết -->
    <%= render "homes/blog" %>
    <div class="mb-5">
      <div class="row">
        <!-- Sản Phẩm đặc biệt  -->
        <% if @product_especially.present? %>
          <%= render "homes/product_especially" %>
        <% end %>
        <%= render "homes/product_tab_collection_sale" %>
      </div>
    </div>

  </div>
  <!-- Tab sản phẩm -->
  <%= render "homes/product_tab_collection_main" %>
  <div class="container">
    <!-- Prodcut-cards-carousel -->
    <%= render "homes/product_selling" %>
    <!-- End Prodcut-cards-carousel -->
    <!-- Full banner -->
    <div class="mb-6">
        <a href="" class="d-block text-gray-90">
            <div class="" style="background-image: url(<%= asset_path('super-sale-banner-up-70-off-sale-banner.jpg')%>); background-size: contain; background-position: 86%;">
                <div class="space-top-2-md p-4 pt-6 pt-md-8 pt-lg-6 pt-xl-8 pb-lg-4 px-xl-8 px-lg-6">
                    <div class="flex-horizontal-center mt-lg-3 mt-xl-0 overflow-auto overflow-md-visble">
                        <h1 class="text-lh-38 font-size-32 font-weight-light mb-0 flex-shrink-0 flex-md-shrink-1" style="background: rgba(255, 165, 0, .6);">ĐÓN CHỜ <strong>SIÊU KHUYẾN MÃI</strong> TRONG THÁNG 2 NÀY</h1>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="mb-8">
        <div class="py-2 border-top border-bottom">
            <div class="js-slick-carousel u-slick my-1"
                data-slides-show="5"
                data-slides-scroll="1"
                data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                data-responsive='[{
                    "breakpoint": 992,
                    "settings": {
                        "slidesToShow": 2
                    }
                }, {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToShow": 1
                    }
                }, {
                    "breakpoint": 554,
                    "settings": {
                        "slidesToShow": 1
                    }
                }]'>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="http://via.placeholder.com/200X60" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="http://via.placeholder.com/200X60" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="http://via.placeholder.com/200X60" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="http://via.placeholder.com/200X60" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="http://via.placeholder.com/200X60" alt="Image Description">
                    </a>
                </div>
                <div class="js-slide">
                    <a href="#" class="link-hover__brand">
                        <img class="img-fluid m-auto max-height-50" src="http://via.placeholder.com/200X60" alt="Image Description">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand Carousel -->
  </div>
</main>
