<div class="card card-secondary form-article">
  <div class="card-header">
    <h3 class="card-title"> <%= yield(:form_type) %> </h3>
  </div>
  <div class="card-body">
    <%= simple_form_for [:admin, @collection], html: {class: "form-horizontal"}  do |f| %>
      <div class="form-body">
        <div class="form-group">
          <%= f.label :title, class: "col-md-4 control-label" %>
          <div class="col-md-12">
            <%= f.input :title, as: :string,
              input_html: { class: "form-control input-circle input-title", placeholder: "Write title..." },
              label: false,
              autofocus: true %>
          </div>
        </div>
        <div class="form-group slug-group">
          <%= f.label :slug, class: "col-md-4 control-label" %>
          <div class="row">
            <div class="col-md-11">
              <%= f.input :slug, as: :string,
                input_html: { class: "form-control input-circle input-slug", placeholder: "Slug" },
                label: false,
                autofocus: true %>
            </div>
            <div class="col-md-1">
              <button type="button" class="btn btn-outline-secondary change-slug">Tạo slug</button>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <div class="col-md-12">
            <%= f.submit yield(:button_text)  , class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
