<tr>
  <td style="width: 25%"><%= product.name %></td>
  <td style="width: 10%"><%= product.price %></td>
  <td style="width: 10%">
    <% if product.promotional_price.present? %>
      <%= product.promotional_price %>
    <% else %>
      không có
    <% end %>
  </td>
  <td style="width: 5%"><%= product.quantity %></td>
  <td style="width: 5%"><%= product.quantity_sold %></td>
  <td style="width: 15%">
    <% if product.reviews.select_parent_review.size != 0 %>
      <%= link_to admin_product_path(product) do %>
          có <span class="text-danger"><%= product.reviews.select_parent_review.size %></span> bình luận, bấm đế xem chi tiết
      <% end %>
    <% else %>
      không có bình luận nào.
    <% end %>

  </td>
  <td class="action-article" style="width: 10%;">
    <%= link_to edit_admin_product_path(product, page: params["page"]) do %>
      <%= content_tag :i, "", class: "far fa-edit text-info" %>
    <% end %>
    <%= link_to admin_product_path(product), method: :delete, data: { confirm: "You sure?" } do %>
      <%= content_tag :i, "" , class: "far fa-trash-alt text-danger" %>
    <% end %>
  </td>
</tr>
