<%= provide :title, @product.name %>
<%= content_for :breadcum_first, "Trang chủ" %>
<%= content_for :breadcum_first_link, root_path %>
<%= content_for :breadcum_second, @product.collection.title %>
<%= content_for :breadcum_second_link, collection_path(@product.collection) %>
<%= content_for :breadcum_third, @product.name %>

<main id="content" role="main">
  <!-- breadcrumb -->
  <div class="bg-gray-13 bg-md-transparent">
    <div class="container">
      <!-- breadcrumb -->
      <div class="my-md-3">
        <%= render "layouts/breadcrumb" %>
      </div>
      <!-- End breadcrumb -->
    </div>
  </div>
  <!-- End breadcrumb -->
  <div class="container">
    <!-- Single Product Body -->
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <div class=" draggable">
          <%= image_tag(@product.image, class: "img-fluid") %>
        </div>
      </div>
      <div class="col-md-7 mb-md-6 mb-lg-0">
        <div class="mb-2">
          <div class="border-bottom mb-3 pb-md-1 pb-3">
            <%= link_to collection_path(@product.collection), class: "font-size-12 text-gray-5 mb-2 d-inline-block" do %>
              <%= @product.collection.title %>
            <% end %>
            <h2 class="font-size-25 text-lh-1dot2"><%= @product.name %></h2>
            <div class="mb-2">
              <a class="d-inline-flex align-items-center small font-size-15 text-lh-1" href="#">
                <a href="#comment"  class="text-secondary font-size-13"><i class="far fa-comment"></i> 3 reviews</a>
              </a>
            </div>
            <div class="d-md-flex align-items-center">
              <div class="text-gray-9 font-size-14">Đang còn:
                <span class="text-green font-weight-bold"><%= inventory(@product) %> sản phẩm</span>
              </div>
            </div>
          </div>
          <div class="mb-2">
            <%= raw @product.description %>
          </div>
          <div class="mb-4">
            <div class="d-flex align-items-baseline">
              <% if @product.promotional_price.present? %>
                <ins class="font-size-36 text-decoration-none"><%= number_with_delimiter(@product.promotional_price) %> vnđ</ins>
                <del class="font-size-20 ml-2 text-gray-6"><%= number_with_delimiter(@product.price) %> vnđ</del>
              <% else %>
                <ins class="font-size-36 text-decoration-none"><%= number_with_delimiter(@product.promotional_price) %> vnđ</ins>
              <% end %>
            </div>
          </div>
          <div class="d-md-flex align-items-end mb-3">
            <a href="#" class="btn px-5 btn-primary-dark transition-3d-hover">
              <i class="ec ec-add-to-cart mr-2 font-size-20"></i> Add to Cart
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Single Product Body -->
    <!-- Single Product Tab -->
    <div class="mb-5" id="comment">
      <div class="position-relative position-md-static px-md-6">
        <ul class="nav nav-classic nav-tab nav-tab-lg justify-content-xl-center flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble border-0 pb-1 pb-xl-0 mb-n1 mb-xl-0" id="pills-tab-8" role="tablist">
          <li class="nav-item flex-shrink-0 flex-xl-shrink-1 z-index-2">
            <a class="nav-link active" id="Jpills-four-example1-tab" data-toggle="pill" href="#Jpills-four-example1" role="tab" aria-controls="Jpills-four-example1" aria-selected="false">Reviews</a>
          </li>
        </ul>
      </div>
      <!-- Tab Content -->
      <div>
        <div class="tab-content">
          <div class="borders-radius-17 border p-4 mt-4 mt-md-0 px-lg-10 py-lg-5">
            <div class="tab-content" id="Jpills-tabContent">
              <div id="review_product_<%= @product.id %>">
                <%= render "products/product_review", product: @product %>
              </div>

              <%= render "reviews/review_form", { url_action: reviews_path(product_id: @product.id),
                class_input: "form-control type_review_#{@product.id}", class_parrent_div: "" } %>
            </div>
          </div>
        </div>
      </div>
      <!-- End Tab Content -->
    </div>
    <%= render "products/product_with_collection" %>
  </div>
</main>
